<table class="table table-sm table table-striped table table-hover">
    <thead>
      <tr>
        <th scope="col">ID Number</th>
        <th scope="col">Class Test</th>

      </tr>
    </thead>
    <tbody>
        <form action="/CTOnly" method="post">
          <input type="hidden" name="Coursecode" value="<%= course_code %>">
          <input type="hidden" name="credit" value="<%= creditHour %>">
          <input type="hidden" name="fullMarks" value="<%= fullMarks %>" id="fullMarks">
        <% grade.forEach((marks) => { %>
      <tr>
          
        <th scope="row"><input type="hidden" name="ID_Number" id="<%= marks.ID_Number %>" value="<%= marks.ID_Number %>"><%= marks.ID_Number %></th>
      <% coursesData.forEach((courseData) => { %>
        <% if(courseData.course_code == course_code && courseData.finalSubmission == false){ %>
          <td><input type="text" name="ClassTest" value="<%= marks.ClassTest %>" onkeypress='enterpressalert(event, this)'></td>
        <% } else if(courseData.course_code == course_code) { %>
          <td><%= marks.ClassTest %></td>
        <% } %>  
        <% }) %> 
      </tr>
      <% }) %>
    </tbody>
</table>
<% coursesData.forEach((courseData) => { %>
  <% if(courseData.course_code == course_code && courseData.finalSubmission == false){ %>
    <input type="submit" value="Save Changes" class="btn btn-outline-info">
  <% } else if(courseData.course_code == course_code) { %>

  <% } %>  
  <% }) %> 
</form>

 