<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>

  
  <div class="main">


    
    <h2>Admin Dashboard</h2>
    <h3>Welcome <%= registerName %> </h3>

    <% for (i = 1; i <= 4; i ++){ %>
      <% for(j = 1; j <= 2; j++ ){ %>
    <!-- <label for="card_holder">Level <%= i %> Semester <%= j %></label> -->
    <label for="card_holder" class="cardHold"><%= 'Level '+  i +  ' Semester '+  j  %></label>
    <div class="card_holder">
        <% courseData.forEach((course) => { %>
          <% if(course.Levelsemester == ('Level '+  i +  ' Semester '+  j)) {%>
        <div class="card text-center" id="<%= course.course_code %>">
        <div class="card-header"><%= course.course_title %></div>
        <div class="card-body">
          <h5 class="card-title">Course code: <%= course.course_code %></h5>
          <p class="card-text">
            Degree: <%= course.degree %> <br> <%= course.levelSemester %> <br> Credits: <%= course.credit %> <br> 
          </p>
          <% if(course.assignedTeacher){ %> 
           <a href="/admin/courses/<%=  course.course_code %>" class="btn btn-outline-success">Ressign Teacher</a>
        <% } else { %>
          <a href="/admin/courses/<%=  course.course_code %>" class="btn btn-outline-secondary">Assign Teacher</a>
          <% } %>
        </div>    
        <% if(course.assignedTeacher){ %>
        <div class="card-footer p-3 mb-2 bg-success text-white">Assigned Teacher: <%= course.assignedTeacher %></div>
        <% if(course.finalSubmission == true){ %>
          <a href="/admin/courses/<%=  course.course_code %>/unsubmit" class="btn btn-outline-danger">Unsubmit Grades for re-evaluation</a>
          <% } %>
      </div>
       <% } else { %>
        <div class="card-footer text-muted">Assigned Teacher: none</div>
      </div>
        <% } %>
      <% } %>
 
      <% }) %>
    </div>
    <% }} %>

      

    
    
    
    
  </div>
    
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>