<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>

  
  <div class="main">


    
    <h2>Result Dashboard</h2>
    <h3>Welcome <%= registerName %> </h3>
 


      
      <div class="card_holder">
        <% resultInfo.forEach((result) => { %>
          <!-- card starts here -->
          <div class="card text-center" id="">
            <div class="card-header"><%= result._id  %></div>
            <div class="card-body">
              <h5 class="card-title"> </h5>
              <p class="card-text">
               <br> Total credits submitted: <%= result.totalCredit %> (Until now) <br>   <br> 
              </p>
              <a href="/admin/courses/" class="btn btn-outline-secondary">Check result</a>
            </div>    
            <div class="card-footer p-3 mb-2 bg-secondary text-white">Publish status: published/due</div>
          </div>
          <!-- card body ends here -->
       <% }) %> 
        </div>


    </div>

    


    
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>