<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>

  
  <div class="main">


    
    <h2>Result Dashboard</h2>
    <h3><%= semester %> </h3>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID Number</th>
            <% courseInfo.forEach((info) => { %>
            <th scope="col" colspan="2"><%= info.course_code %> <br> <%= info.course_title %> <br> </th>
            <% }) %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <% for(i=0; i< courseInfo.length; i++){ %>
              <td  style="color: navy; font-weight: bold">GPA</td>
              <td  style="color: navy; font-weight: bold">Grade</td>
            <% } %>
          </tr>
          <% studentresult.forEach((student)=> { %>
            <tr>
              <th scope="row"><%= student.ID_Number %></th>
              <% courseCodeOnly.forEach((course) => { %>
                <% if(course == student.Coursecode ){ %>
            <td title="<%= student.Coursecode %>"><%= student.GradePoint %></td>
            <td title="<%= course %>"><%= student.LetterGrade %></td>
             <%} else {%>
              <td title="<%= course %>"><%= course %></td>
              <td title="<%= course %>"><%= course %></td>
              <% } %>
                <% }) %>
          </tr>
            <% }) %>

        </tbody>
      </table>


      
      


    </div>

    


    
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>

