<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>

  
  <div class="main">


    
    <h2>Result Dashboard</h2>
    <h3><%= semester %> </h3>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID Number</th>
            <% courseInfo.forEach((info) => { %>
            <th scope="col" colspan="2">Course Code: <%= info.course_code %>, Credit: <%= info.credit%> <br> <%= info.course_title %> <br> </th>
            <% }) %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <% for(i=0; i< courseInfo.length; i++){ %>
              <td  style="color: navy; font-weight: bold">GPA</td>
              <td  style="color: navy; font-weight: bold">Grade</td>
            <% } %>
          </tr>
          <tr><% let k %>
          <% studentIDs.forEach((student)=> { %>
            <th scope="row"><%= student %></th>
            <% for(i = 0; i < courseCodeOnly.length; i++){ %>
              <% for( j = 0; j < studentresult.length; j++){ %>
                <% k = j %>
                <% if( (courseCodeOnly[i] == studentresult[j].Coursecode) && (student == studentresult[j].ID_Number)){  %>
                  
              <td title="<%= studentresult[j].Coursecode %>"><%= studentresult[j].GradePoint %></td>
              <td title="<%= studentresult[j].Coursecode %>"><%= studentresult[j].LetterGrade %></td>
                <% } %>
                <% } %>
             
                <!-- < end of j for statement of student result > -->
         
                <% } %>
                <!-- < end of i for statement of course code only > -->

          
          </tr>
            <% }) %>

        </tbody>
      </table>


      
      


    </div>

    


    
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>

