<html lang="en">
    <%- include('./partials/head.ejs') %>
    

<body>
    <%- include('./partials/navbar.ejs') %>

  
  <div class="main">

    


    <h3>Welcome to Teachers Dashboard</h3>
    <h2>Course code: <%= course_code %></h2>
    <hr>
    <table class="table table-sm table table-striped table table-hover">
        <thead>
          <% let creditVar %>
          <% coursesData.forEach((courseData) => {  %>
            <% if(courseData.course_code == course_code){ %>
            <tr>
              <th scope="col">Course Title:</th>
              <th scope="col" style="color: blueviolet"><%= courseData.course_title %></th>
              <th scope="col">Credit hours:</th>
              <% creditVar = courseData.credit %>
              <th scope="col" style="color: blueviolet"><%= courseData.credit %></th>
              <th scope="col">Full Marks:</th>
              <th scope="col" style="color: blueviolet">
                <% (  courseData.credit == 3 ) ? ( totalMarks = 150 ) :( (courseData.credit == 2 ) ? ( totalMarks = 100 ) :  (totalMarks = 100 )) %>
                <%= totalMarks %>
                
                </th>
              <th scope="col">Name of Examiner: </th>
              <th scope="col" style="color: blueviolet"><%= courseData.assignedTeacher %></th>

            </tr>
            <% } %>
          <% }) %> 
          <tr>
            <th scope="col">ID Number</th>
            <th scope="col">Attendance</th>
            <th scope="col">Class Test</th>
            <th scope="col">Mid</th>
            <th scope="col">Final(Section A)</th>
            <th scope="col">Final(Section B)</th>
            <th scope="col">Total</th>
            <th scope="col">Marks(%)</th>
            <th scope="col">Letter Grade</th>
            <th scope="col">Grade Point</th>
          </tr>
        </thead>
        <tbody>
            <form action="/courses/grading/<%= course_code %>/<%= creditVar %>" method="post">
              <% grade.forEach((grade) => { %>
          <tr>
            <th scope="row"><%= grade.ID_Number %><input type = "hidden" name = "ID_Number" value = "<%= grade.ID_Number %>" /></th>
            <td><input type="number" name="Attendance" value="<%= grade.Attendance %>"></td>
            <td><input type="number" name="ClassTest" value="<%= grade.ClassTest %>"></td>
            <td><input type="number" name="Mid" value="<%= grade.Mid %>"></td>
            <td><input type="number" name="FinalA" value="<%= grade.FinalA %>"></td>
            <td><input type="number" name="FinalB" value="<%= grade.FinalB %>"></td>
            <td><%= grade.Total %><input type="hidden" name="Coursecode" value="<%= course_code %>"></td>
            <td><%= grade.Marks %></td>
            <td><%= grade.LetterGrade %></td>
            <td><%= grade.GradePoint %></td>
          </tr>
          <% }) %>
          
          <input type="hidden" name="totalMarks" value="<%= totalMarks %>">
        </tbody>
      </table>
      <input type="submit" class="btn btn-outline-info" value="Submit" >
    </form>
    <a href="/courses/grading/<%= course_code %>"><button class="btn btn-outline-info">Goto Previous Page</button></a>
    <a href="/courses/grading/finalSubmit/<%= course_code %>"><button class="btn btn-outline-info">Final Submit</button></a>
    <%- include('./partials/footer.ejs') %>
  </div>
</body>
</html>