<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>

  
  <div class="main">

    


    <h3>Welcome to Teachers Dashboard</h3>
    <h2>Course code: <%= course_code %></h2>
    <table class="table table-sm table table-striped table table-hover">
        <thead>
            <tr>
              <th scope="col">Course Title:</th>
              <th scope="col">Machine Learning</th>
              <th scope="col">Credit hours:</th>
              <th scope="col">3</th>
              <th scope="col">Full Marks:</th>
              <th scope="col">150</th>
              <th scope="col">Name of Examiner: </th>
              <th scope="col">1. Dr. Md. Arshad Ali(Primary),</th>
              <th scope="col">2. Adiba Mahjabin Nitu(External)</th>
            </tr>
          <tr>
            <th scope="col">ID Number</th>
            <th scope="col">Attendance</th>
            <th scope="col">Class Test</th>
            <th scope="col">Mid</th>
            <th scope="col">Final(Section A)</th>
            <th scope="col">Final(Section B)</th>
            <th scope="col">Total</th>
            <th scope="col">Marks(%)</th>
            <th scope="col">Letter Grade</th>
            <th scope="col">Grade Point</th>
          </tr>
        </thead>
        <tbody>
            <form action="/courses/grading/<%= course_code %>" method="post">
              <% grade.forEach((grade) => { %>
          <tr>
            <th scope="row"><%= grade.ID_Number %><input type = "hidden" name = "studentID" value = "<%= grade.ID_Number %>" /></th>
            <td><input type="number" name="attendance" value="<%= grade.Attendance %>"></td>
            <td><input type="number" name="classTest" value="<%= grade.ClassTest %>"></td>
            <td><input type="number" name="mid" value="<%= grade.Mid %>"></td>
            <td><input type="number" name="finalA" value="<%= grade.FinalA %>"></td>
            <td><input type="number" name="finalB" value="<%= grade.FinalB %>"></td>
            <td>150<input type = "hidden" name = "total" value = "150" /></td>
            <td>100<input type = "hidden" name = "marks" value = "100" /></td>
            <td>A+<input type = "hidden" name = "grade" value = "A+" /></td>
            <td>4.00<input type = "hidden" name = "GPA" value = "4.00" /></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <input type="submit" class="btn btn-outline-info" value="Submit">
    </form>
    <a href="/courses/grading/<%= course_code %>"><button class="btn btn-outline-info">Goto Previous Page</button></a>
  </div>
</body>
</html>