<html lang="en">
    <%- include('./partials/head.ejs') %>
    

<body>
    <%- include('./partials/navbar.ejs') %>
    
    
  
    <div class="main">

      
      <% let courseTitle %>
      <% let creditHour %>
      <% let fullMarks %>
      <% let teacherName %>
      <!-- declared variables for pdf-->
      
      <h3>Welcome to Teachers Dashboard</h3>
      <h2>Course code: <%= course_code %></h2>
    <u><h3>Insert Marks separately:</h3></u>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <div class="card card text-white bg-secondary mb-3">
          <div class="card-body">
            <h5 class="card-title">Single Category Marks</h5>
            <p class="card-text">Attendance</p>
            <a class="btn btn-primary" id="attendanceOnlyAssign">Assign Grades</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card text-white bg-success mb-3">
          <div class="card-body">
            <h5 class="card-title">Single Category Marks</h5>
            <p class="card-text">Class Test</p>
            <a href="#" class="btn btn-primary">Assign Grades</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card text-white bg-danger mb-3">
          <div class="card-body">
            <h5 class="card-title">Single Category Marks</h5>
            <p class="card-text">Mid</p>
            <a href="#" class="btn btn-primary">Assign Grades</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-white bg-dark mb-3">
          <div class="card-body">
            <h5 class="card-title">Single Category Marks</h5>
            <p class="card-text">Final (Section A)</p>
            <a href="#" class="btn btn-primary">Assign Grades</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-white bg-info mb-3">
          <div class="card-body">
            <h5 class="card-title">Single Category Marks</h5>
            <p class="card-text">Final (Section B)</p>
            <a href="#" class="btn btn-primary">Assign Grades</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-white bg-secondary mb-3">
          <div class="card-body">
            <h5 class="card-title">For Final Correction</h5>
            <p class="card-text">Before Publishing</p>
            <a class="btn btn-primary" id="OverallButtonAssign">Assign Grades(Overall)</a>
          </div>
        </div>
      </div>
    </div>

    <!--Overall Modal starts -->
    <div id="overallMarks" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
        <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Overall:</h2>
        </div>
        <div class="modal-body">
        <%- include('./partials/singleCourseTeacher/overallFromsingleCourseTeacher.ejs') %>
      </div>
      <div class="modal-footer">
        <h3></h3>
      </div>
      </div>
      </div>
        <!-- Overall Modal ends -->
<%- include('./partials/singleCourseTeacher/scripts/overallModal') %>

        
        <!-- AttendanceOnly modal starts here. -->
        <div id="attendanceOnly" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
          <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Overall:</h2>
          </div>
          <div class="modal-body">
          <%- include('./partials/singleCourseTeacher/attendanceFromsingleCourseTeacher.ejs') %>
        </div>
        <div class="modal-footer">
          <h3></h3>
        </div>
        </div>
        </div>
          <%- include('./partials/singleCourseTeacher/scripts/attendanceOnly') %>
          <!-- attendanceOnly Modal ends here -->

          <hr>
       
                  <!-- CTOnly modal starts here. -->
        <div id="CTOnly" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
          <div class="modal-header">
          <span class="close1">&times;</span>
          <h2>Overall:</h2>
          </div>
          <div class="modal-body">
          <%- include('./partials/singleCourseTeacher/CTFromSingleCourseTeacher.ejs') %>
        </div>
        <div class="modal-footer">
          <h3></h3>
        </div>
        </div>
        </div>

          <!-- CTOnly Modal ends here -->

        


        <%- include('./partials/footer.ejs') %>
      
</div>
<!-- scripts of VanillaJS -->
<%- include('./partials/singleCourseTeacher/scripts/attendanceOnlySubmissionScript') %>
</body>
</html>