<html lang="en">
  <%- include('./partials/head.ejs') %>

<body>
  <script src="index.css"></script>
    <%- include('./partials/navbar.ejs') %>


  
  <div class="main">

    <h3><%= courseCodeNow %></h3>
    <h2>Available teachers:</h2>

    <div class="card_holder">
     <% teacherData.forEach((teacher) => { %>
        <div class="card text-center">
            <div class="card-header"><%= teacher.registerName %></div>
            <div class="card-body">
              <h5 class="card-title"><%= teacher.registerDesignation %></h5>
              <p class="card-text">
                <%= teacher.registerEmail %>
              </p>
              <a href="/admin/courses/<%= courseCodeNow %>/<%= teacher.registerName %>/<%= teacher._id %>" class="btn btn-primary">Assign</a>
            </div>
            <div class="card-footer text-muted">Assign status: none/assigned</div>
          </div>
    
    <% }) %> 
  </div>
  </div>
</body>
</html>