<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar.ejs') %>

  
  <div class="main">

    


    <h3>Welcome to Teachers Dashboard</h3>
    <h2><%= registerName %></h2>

    <div class="card_holder">
        
      <% AssignedCourses.forEach((course) => { %>
        
        <div class="card text-center" id="<%= course.assignedTeacherID %>">
        <div class="card-header"><%= course.course_code %></div>
        <div class="card-body">
          <h5 class="card-title"><%= course.course_title %></h5>
          <p class="card-text">
            Degree: <%= course.degree %> <br> <%= course.levelSemester %> <br> credits: <%= course.credit %> <br> 
          </p>
           
     
        <% if(course.finalSubmission == false){ %>
          <a href="" class="btn btn-outline-secondary">Assign Grades</a>
         
        </div>    
       
        <div class="card-footer p-3 mb-2 bg-secondary text-white">Final Submit: Due for submission </div>
        <% } else { %>
          <a href="" class="btn btn-outline-secondary">Audit Grades</a>
         
        </div>    
       
        <div class="card-footer p-3 mb-2 bg-success text-white">Final Submit: Done </div>
          <% } %>
      </div>
 
 
      <% }) %>
    
  </div>
  </div>
</body>
</html>